@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #181818;
    font-family: 'Inter', sans-serif;
    color: white;
}

.name{
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    top: 25%;
    left: 45%;
}

.slogan{
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    top: 37%;
    left: 40%;
}

.email-input, .password-input{
    border: none;
    background-color: rgb(71, 70, 70);
}

.email-input{
    position: absolute;
    color: black;
    top: 50%;
    left: 38%;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    z-index: 1;
}

.password-input{
    position: absolute;
    color: black;
    top: 60%;
    left: 38%;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    z-index: 1;
}

.email-icon{
    position: absolute;
    z-index: 2;
    top: 51%;
    left: 62%;
    background-color: rgb(71, 70, 70); 
}

.password-icon{
    position: absolute;
    z-index: 2;
    top: 60.5%;
    left: 62%;
    background-color: rgb(71, 70, 70); 
}



.login-button {
    background-color: #FFFFFF;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    width: 180px;
    height: 35px;
    border-radius: 17px;
    top: 72%;
    left: 45%;
    position: absolute;
    text-decoration: none;
}

.login-button a:hover{
    background-color: rgb(112, 109, 109);
}

.signup-link{
    position: absolute;
    top: 82%;
    left: 42%;
    font-size: 13px;
}

.subscribe{
  text-align: center;
  font-size: 18px; 
  font-weight: bold; 
  font-size: 35px;
  top: 22%;
  position: absolute;
  left: 40%;
}


.email-input-singup, .create-password, .name-input {
    border: none;
    background-color: rgb(71, 70, 70);
    color: black;
}


.email-input-singup {
    position: absolute;
    top: 50%;
    left: 38%;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    z-index: 1;
}

.signup-email-icon {
    position: absolute;
    z-index: 2;
    top: 50.5%;
    left: 62%;
    width: 20px;
    height: 20px;
    background-color: rgb(71, 70, 70);
    pointer-events: none;
}


.create-password {
    position: absolute;
    top: 60%;
    left: 38%;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    z-index: 1;
}

.signup-lock-icon {
    position: absolute;
    z-index: 2;
    top: 60.5%;
    left: 62%;
    width: 20px;
    height: 20px;
    background-color: rgb(71, 70, 70);
    pointer-events: none;
}


.name-input {
    position: absolute;
    top: 70%;
    left: 38%;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    z-index: 1;
}

.signup-user-icon {
    position: absolute;
    z-index: 2;
    top: 70.5%;
    left: 62%;
    width: 20px;
    height: 20px;
    background-color: rgb(71, 70, 70);
    pointer-events: none;
}


.singup-button {
    position: absolute;
    top: 82%;
    left: 45%;
    width: 180px;
    height: 35px;
    border-radius: 17px;
    background-color: #ffffff;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.singup-button:hover {
    background-color: rgb(112, 109, 109);
}


.subscribe {
    position: absolute;
    top: 22%;
    left: 40%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.login-link {
    position: absolute;
    top: 90%;
    left: 42%;
    font-size: 15px;
    color: white;
}








.page {
    display: flex;
    min-height: 100vh;
}

.corner {
    width: 263px;
    height: 100vh;
    padding: 32px 20px 16px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.name, .artists, .liked-songs, .logout{
    z-index: 2;
}

.name{
    color: white;
    top: 60px;
    background-color: black;
    font-weight: 700;
    left: 60px;
    position: absolute;
    font-size: 28px;
    display: flex;
    letter-spacing: 1px;
}

.artists{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    top: 120px;
    left: 80px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
}

.liked-songs{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    top: 160px;
    left: 50px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
}

.logout{
    font-size: 19px;
    font-weight: 600;
    color: white;
    background-color: black;
    left: 90px;
    display: flex;
    position: absolute;
    border: none;
    cursor: pointer;
    margin-top: 240%;
}

.logout a{
    text-decoration: none;
}

.logout a:hover{
    color: #016b2694;
}

.logout a:active{
    color: #016b26;
}

.icon{
    background-color: black;
    border: none;
    position: absolute;
}

#button:hover{
    color: #016b2694;
}

#button:active{
    color: #016b26;
}

.content{
    padding: 90px 68px 68px;
    background-color: #181818;
    margin-left: 263px;
    overflow-y: auto;
    width: 100%;
}

.content h1{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 60px;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 48px 24px;
    
}

.card{
    background-color: #1F1F1F;
    border-radius: 8px;
    padding: 16px 6% 24px 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    cursor: pointer;
    height: auto;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.02);  
}

.card-button{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    cursor: pointer;
    background: transparent;
    padding: 1%;
    padding-bottom: 6%;
    box-sizing: border-box;
}

.foto{
    width: 100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 8% auto;
    max-width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px; 
    background: transparent;
    width: 100%;
    padding-left: 8px;
    box-sizing: border-box;
}

.card-title{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background-color: #1F1F1F;
    display: -webkit-box;
}

.card-subtitle{
    font-size: 17px;
    font-weight: 600;
    color: #8C8C8C;
    background-color: #1F1F1F;
}

.input-error {
  border: 2px solid #f44336;
  background-color: #ffebee;
}

.error-message-login {
  color: #f44336;
  font-size: 12px;
  margin: 5px 0 15px 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
    border: none;
    font-weight: bold;
    top: 67%;
    left: 40%;
    position: absolute;
    text-decoration: none;
}

.error-message-signup {
  color: #f44336;
  font-size: 12px;
  margin: 5px 0 15px 10px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
    border: none;
    font-weight: bold;
    top: 77%;
    left: 47%;
    position: absolute;
    text-decoration: none;
}